.comment-textarea{
  width: 100%;
  font-size: 14px;
  user-select: text;
  display: block;
  cursor: text;
  resize: none;
  border-style: solid;
  border-color: whitesmoke;
  height: auto;
  padding-bottom: 10%;
}

.input{
  width: 100%;
  font-size: 18px;
  user-select: text;
  display: block;
  cursor: text;
  text-align: center;
  resize: none;
  border-style: solid;
  border-color: whitesmoke;
  height: auto;
}

.example-card {
  max-width: 400px;
}
.mat-card{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
}
.background-div{
  background-color: chartreuse;
}

.mat-form-field{
  width: 80%;
}

.field{
  width: 80%;
}


.button-div-right{
  padding-top: 10%;
  float: right;
}
.mat-card-header{
  margin: auto;
}

.register-div{
  padding-top: 20%;
  font-family: Verdana;
  font-size: 15px;
  text-align: center;
}
.register-text{
  color: #DAE0E6;
  cursor: pointer;
}
.register-text:hover{
  color: #D15641
}
.mat-icon{
  color: #D15641;
}
.progress-bar-div{
  padding-top: 10%;
}
.button-div-left{
  padding-top: 10%;
  float: left;
}
