.chat-border {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
.chat-list-title{
  display: flex;
  justify-content: space-between;
  border-bottom: #cccccc 1px solid;
  padding-bottom: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f9f9f9;
}
.chat-title-button{
  align-self: flex-end;
  float: right;
  margin-left: auto;
}
.chat-list{
  margin-left: auto;
  min-height: 80vh;
  max-height: 80vh;
  width: 270px;
  align-self: flex-end;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search {
  width: 100%;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.chat-searchbar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.chat-messages{
  height: 400px;
  width: 270px;
  align-self: flex-end;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 20px;
}
.chat-toogle{
  height: 50px;
  width: 270px;
  align-self: flex-end;
  background-color: #f9f9f9;
  margin-right: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-toogle:hover{
  cursor: pointer;
}
.trending-item:hover{
  background-color: #eeeef1;
  cursor: pointer;
}
.messenger-label{
  padding-left: 20px;
  padding-right: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  padding-top: 5px;
}
.trending-item{
  width: auto;
  height: 60px;
  margin-top: 10px;
  display: flex;
  border-radius: 15px;
}
.logo-trending{
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:50px;
  height:50px;
  margin-left: 10px;
  margin-top: 5px;
}
.dot {
  margin-top: 10px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-color: #0d8f3b;
  border-radius: 50%;
  margin-left: auto;
}
.description{
  margin-left: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}
.msg-description{
  margin-left: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: flex;
}
.username{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 1.2em;
   align-self: flex-end;
 }
.msg-username{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  align-self: flex-end;
}
.user-comments{
  font-weight: bold;
}
.msg-logo{
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:40px;
  height:40px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.msg-content{
  background-color: white;
  width: auto;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;

}
.msg-message{
  margin-top: 10px;
  display: flex;
  border-radius: 15px;
}
.msg-message-user{
  margin-top: 10px;
  border-radius: 15px;
  display: flex;
  flex-flow: row-reverse;
}
.msg-single-message{
  border-radius: 5px;
  background-color: #dde2e1;
  padding: 2px 5px;
  word-wrap: break-word;
  max-width: 160px;
}
.msg-single-message-user{
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 10px;
  background-color: #93cbee;
  margin-left: 10px;
  word-wrap: break-word;
}
.msg-write{
  height: 38px;
  background-color: #f9f9f9;
  display: flex;
}
.textarea{
  width: 220px;
  height: 25px;
  margin-top: 8px;
  background-color: white;
  border: none;
  font-size: 14px;
  user-select: text;
  display: block;
  cursor: text;
  resize: none;
  margin-left: 10px;
  border-radius: 10px;
  padding-left: 10px;
}
