.chat-border {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 600px;
  padding-top: 80px;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}
.chat-list-title{
  display: flex;
  justify-content: space-between;
  border-bottom: #cccccc 1px solid;
  padding-bottom: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f9f9f9;
}
.chat-title-button{
  align-self: flex-end;
  float: right;
  margin-left: auto;
}
.chat-list{
  margin-left: auto;
  height: 100%;
  width: 270px;
  align-self: flex-end;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-messages{
  height: 400px;
  width: 270px;
  align-self: flex-end;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-toogle{
  height: 50px;
  width: 270px;
  align-self: flex-end;
  background-color: #f9f9f9;
  margin-right: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-toogle:hover{
  cursor: pointer;
}
.trending-item:hover{
  background-color: #eeeef1;
  cursor: pointer;
}
.messenger-label{
  padding-left: 20px;
  padding-right: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  padding-top: 5px;
}
.trending-item{
  width: auto;
  height: 60px;
  margin-top: 10px;
  display: flex;
  border-radius: 15px;
}
.logo-trending{
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:50px;
  height:50px;
  margin-left: 10px;
  margin-top: 5px;
}
.description{
  margin-left: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}
.msg-description{
  margin-left: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: flex;
}
.username{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 1.2em;
   align-self: flex-end;
 }
.msg-username{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  align-self: flex-end;
}
.user-comments{
  font-weight: bold;
}
.msg-logo{
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:40px;
  height:40px;
  margin-left: 2px;
  margin-top: 10px;
  margin-right: 10px;
}
.msg-content{
  background-color: white;
  width: auto;
  height: 380px;
}
