.example-card {
  max-width: 400px;
}
.error-dv{
  margin-top: 20px;
}
.error{
  color: #e6183b;
  font-weight: bold;
}
.mat-card{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
}
.example-header-image {
  background-image: url('https://www.freelogodesign.org/file/app/client/thumb/b41efe8f-280d-486b-b69a-0d7848b4eba3_200x200.png?1608309161937');
  background-size: contain;
}
.background-div{
  background-color: chartreuse;
}

.mat-form-field{
  width: 80%;
}

.field{
  width: 80%;
}

.img-center{
  padding-left: 30%;
}

.button-div-right{
  padding-top: 10%;
  float: right;
}
.mat-card-header{
  width: 200px;
  height: 200px;
}

.register-div{
  padding-top: 20%;
  font-family: Verdana;
  font-size: 15px;
  text-align: center;
}
.register-text{
  color: #DAE0E6;
  cursor: pointer;
}
.register-text:hover{
  color: #D15641
}
.mat-icon{
  color: #D15641;
}
.progress-bar-div{
  padding-top: 10%;
}
