.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 0px;
}
@media only screen and (max-width: 370px) {
  .button-span {
    display: none;
  }
}

mat-form-field  {
  width: 200px;
}

.img-center {
  height: 150px;
}
.example-spacer {
  flex: 1;
}
.mat-select-search-inner.mat-typography.mat-datepicker-content.mat-tab-header{
  width: 200px;
}
.search-icon {
  color: gray;
  margin: 10px;
  cursor: pointer;
}
.search {
  padding: 0 20px;
  max-width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box
}
