<mat-toolbar class="navbar">
    <a href="/">
        <img class="img-center" src="../../../assets/logo.png">
      </a>
  <span class="example-spacer"></span>

  <input class="search" #inputElement placeholder="Search" aria-label="State" [matAutocomplete]="auto" (keyup.enter)="goTo($event.target.value)" (input)="filter($event.target.value)" >

  <mat-icon class="search-icon" (click)="goTo(inputElement.value) ">search</mat-icon>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let sub of subs" [value]="sub.name" (click)="goTo(sub.name)">
      <span>{{ sub.name }}</span>
    </mat-option>
  </mat-autocomplete>

  <span class="example-spacer"></span>
  <span class="button-span">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Create subvykop" (click)="addSubVykop()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Admin panel" (click)="manage()" *ngIf="authenticationService.currentUserValue?.role == 'admin'">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label=Profile (click)="profile()">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Logout"(click)="logout()">
      <mat-icon>login</mat-icon>
    </button>
  </span>
</mat-toolbar>

<app-chat></app-chat>
