.navbar {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*justify-items: end;*/
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 0px;
}
.logo-span {

}
mat-form-field  {
  width: 200px;
}
ngx-mat-select-search {
  width: 200px;
}
.img-center {
  height: 150px;
}
.example-spacer {
  flex: 1;
}
.mat-select-search-inner.mat-typography.mat-datepicker-content.mat-tab-header{
  width: 200px;
}
