<mat-toolbar class="navbar">
    <a href="/">
        <img class="img-center" src="../../../assets/logo.png">
      </a>
  <span class="example-spacer"></span>
  <mat-form-field floatLabel="always">
    <mat-select>
      <mat-option>
        <ngx-mat-select-search ngModel (ngModelChange)="filter($event)" placeholderLabel="seach" noEntriesFoundLabel="no results" ariaLabel="test"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let sub of subs" [value]="sub" (click)="goTo(sub.id)">
        {{sub.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="example-spacer"></span>
  <span class="button-span">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Create subvykop" (click)="addSubVykop()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Admin panel" (click)="manage()" *ngIf="authenticationService.currentUserValue.role == 'admin'">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label=Profile (click)="profile()">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Logout"(click)="logout()">
      <mat-icon>login</mat-icon>
    </button>
  </span>
</mat-toolbar>
