.navbar {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*justify-items: end;*/
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 0px;
}
.logo-span {

}

@media only screen and (max-width: 470px) {
  .button-span {
    display: none;
  }
}

mat-form-field  {
  width: 200px;
}
ngx-mat-select-search {
  width: 200px;
}
.img-center {
  height: 150px;
}
.example-spacer {
  flex: 1;
}
.mat-select-search-inner.mat-typography.mat-datepicker-content.mat-tab-header{
  width: 200px;
}

.search {
  padding: 0 20px;
  max-width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box
}


.submit {
  cursor: pointer;
  border: none;
  background-color: #0079d3;
  background-size: 35px 35px;
  border-radius: 0 20px 20px 0;
  /*padding: 15px 25px;*/

  display: inline-block;
  width: 40px;
  height: 40px;
}

.wrapper {
  max-width: 550px;
  width: 80%;
}
