.center{
  text-align: center;
}
.comment-textarea{
  /*margin-top: 10%;*/
  width: 100%;
  font-size: 14px;
  user-select: text;
  display: block;
  cursor: text;
  resize: none;
  border-style: solid;
  border-color: whitesmoke;
  height: 250px;
  /*margin-bottom: 10%;*/
  /*padding-bottom: 10%;*/
}
