.header1 {
  margin-bottom: 0px;
}
.header4 {
  margin-bottom: 0px;
  color: gray;
}
.content {
  overflow: auto;
  width: 100%;
  height: auto;
}
.header-div {
  margin-right: auto;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto
}
.banner {
  height:200px;
  width:100%;
  object-fit: cover;
}
.under-banner {
  background: white;
  height: 100px
}
.flex {
  display: flex;
}
.avatar {
  margin-left: auto;
  margin-right: 20px;
  height: 100px;
  width: auto;
}

