<html>
<head>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>

<app-navbar></app-navbar>
<div class="content" style="width: 100%">
  <mat-card class="example-card" *ngIf="this.post.author!=null">
    <mat-card-header class="mat-card-header" style="">
      <div mat-card-avatar class="example-header-image" style="background-image: url({{this.post.author.avatar}})"></div>
      <a href="subVykop/{{this.post.subVykop.id}}" class="text-center" style="margin-right: 10px">r/{{this.post.subVykop.name}}</a>
      <p class="text-center" style="margin-right: 10px">Posted by:</p>
      <a class="text-center" href="u/{{post.author.username}}">u/{{post.author.username}}</a>
    </mat-card-header> <br><br>
    <h2 style="margin-right: 10px">{{post.title}}</h2>
    <mat-card-content [class.show]="true" class="container">
      <img [src]="post.content.image" style="max-width: 100%; height: auto; margin-right: auto; margin-left: auto; margin-bottom: 10px; display: flex"  *ngIf="post.content.image">
      <video  width="400" #videoPlayer [src]="post.content.video" *ngIf="post.content.video"></video>
      <hr>
      <p>{{post.content.text}}
      </p>
    </mat-card-content>
    <mat-card-actions style="padding-left: 46px">
      <mat-button-toggle (click)="likeBtnClickPost()" [checked]="post.upvoted" mdbBtn type="button" class="waves-light" color="primary" autocomplete="off" mdbCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0" mdbWavesEffect>
        <mat-icon>thumb_up</mat-icon> Like
      </mat-button-toggle>
      <mat-button-toggle (click)="addCommentField=!addCommentField; isToggled = true" [checked]='isToggled' type="button" class="waves-light" color="primary" mdbWavesEffect>
        <mat-icon>comment</mat-icon> Comment
      </mat-button-toggle>
    </mat-card-actions>
  </mat-card>
  <ng-container>

    <mat-card class="example-card" *ngIf="addCommentField" >
      <mat-card-header class="mat-card-header" style="">
        <div mat-card-avatar class="example-header-image" style="background-image: url({{auth.currentUserValue.avatar}})"></div>
        <a class="text-center" href="u/{{auth.currentUserValue.username}}">u/{{auth.currentUserValue.username}}</a>
      </mat-card-header> <br><br>
      <mat-card-content [class.show]="true" class="container">
        <textarea class="comment-textarea" placeholder="Comment" [(ngModel)]='comment'>
        </textarea>
      </mat-card-content>
      <i style="margin-left: 7%"
        (click)="toggled = !toggled"
        [(emojiPickerIf)]="toggled"
        [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'"
        (emojiPickerSelect)="handleSelection($event)"
      >😄</i
      >
      <button mat-button mdbBtn type="button" style="margin-left: 72%" (click)="addComment()"><mat-icon>comment</mat-icon>Comment</button>
    </mat-card>
  </ng-container>
</div>

<mat-list>
  <ng-container *ngFor="let element of post.comments">
    <mat-card class="example-card" >
      <mat-card-header class="mat-card-header" style="">
        <div mat-card-avatar class="example-header-image" style="background-image: url({{element.author.avatar}})"></div>
        <a class="text-center" href="u/{{element.author.username}}">u/{{element.author.username}}</a>
      </mat-card-header> <br><br>
      <mat-card-content [class.show]="true" class="container">
        <p>{{element.text}}</p>
      </mat-card-content>
      <mat-card-actions style="padding-left: 46px;">
        <mat-button-toggle (click)="likeBtnClick(element)" [checked]="element.upvoted">
          <mat-icon>thumb_up</mat-icon> Like({{element.votes}})
        </mat-button-toggle>
        <button mat-button (click)="openDialog(element)" *ngIf="element.author.username==auth.currentUserValue.username">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</mat-list>

</body>
</html>
