.example-spacer {
  /*flex: 1 1 auto;*/
  /*flex-grow: 1*/
}

.content {
  height: auto;
  overflow: auto;
  padding-top: 2%;
}

.spinner-item {
  display: grid;
  place-items: center;
  margin-top: 10px;
}

.example-card {
  max-width: 600px;
  margin: auto;
  margin-bottom: 10px;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.emoji-div {
  margin: auto;
  cursor: pointer;
  font-size: 17px;
}

.emoji-div:hover{
  cursor: pointer;
}

.container {
  max-width: 520px;
  height: 400px;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}

.show {
  overflow: visible;
  height: auto;
}

.example-header-image {
  height: 30px;
  width: 30px;
  background-size: cover;
  margin-right: 0px;
}
.centered {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 500px;
  margin: auto;
}
.mat-card-image{
  padding: 10px;
}
.mat-card-header{
  float: left;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.example-spacer {
  flex: 1;
}

.mat-card-header-comment {
  /*justify-content: space-between;*/
  /*justify-items: end;*/
  width: 100%;
  display: flex;
}

.text-center{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 10px;
}

.mat-button-toggle-label-content {
  line-height: 10px !important;
}

.comment-textarea{
  width: 100%;
  color: gray;
  background: whitesmoke no-repeat;
  border: none;
  font-size: 14px;
  user-select: text;
  display: block;
  cursor: text;
  margin-top: 1px;
  height: 160px;
  resize: none;
}
