<html>
<head>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>

<app-navbar></app-navbar>

<div class="content" style="width: 100%">
  <mat-card class="example-card" *ngIf="this.post.author!=null">
    <mat-card-header class="mat-card-header" style="">
      <div mat-card-avatar class="example-header-image" style="background-image: url({{this.post.author.avatar}})"></div>
      <a href="subVykop/{{this.post.subVykop.id}}" class="text-center" >r/{{this.post.subVykop.name}}</a>
      <p class="text-center" style="margin-right: 10px">Posted by:</p>
      <a class="text-center" href="u/{{post.author.username}}">u/{{post.author.username}}</a>
    </mat-card-header> <br><br>
    <h2 style="margin-right: 10px">{{post.title}}</h2>
    <mat-card-content [class.show]="true" class="container">
      <img [src]="post.content.image" style="max-width: 100%; height: auto; margin-right: auto; margin-left: auto; margin-bottom: 10px; display: flex"  *ngIf="post.content.image">
      <video  width="400" #videoPlayer [src]="post.content.video" *ngIf="post.content.video"></video>
      <hr>
      <p>{{post.content.text}}
      </p>
    </mat-card-content>
    <mat-card-actions style="padding-left: 46px">
      <mat-button-toggle (click)="likeBtnClickPost()" [checked]="post.upvoted" mdbBtn type="button" style="margin: 5px" color="primary">
        <mat-icon>thumb_up</mat-icon> Like ({{post.votes}})
      </mat-button-toggle>
      <mat-button-toggle (click)="addCommentField=!addCommentField; isToggled = true; toggled = false" [checked]='isToggled' type="button" class="waves-light" color="primary" mdbWavesEffect>
        <mat-icon>comment</mat-icon> Comment
      </mat-button-toggle>
    </mat-card-actions>
  </mat-card>

  <ng-container>

  <div style="position:relative;">

      <mat-card class="example-card" *ngIf="addCommentField"  style="padding-left: 40px">

        <mat-card-header class="mat-card-header" style="">
          <div mat-card-avatar class="example-header-image" style="background-image: url({{user.avatar}})"></div>
          <a class="text-center" href="u/{{user.username}}">u/{{user.username}}</a>
        </mat-card-header> <br><br>
        <mat-card-content [class.show]="true" class="container">
          <textarea class="comment-textarea" placeholder="Comment" [(ngModel)]='comment'>
          </textarea>

          <div style="display:flex;" class="centered">
            <div mat-button mdbBtn class="emoji-div"
                 (click)="toggled = !toggled">😄</div>
            <button mat-button mdbBtn type="button" style="margin-left: 60%" (click)="addComment()"><mat-icon>send</mat-icon></button>
          </div>
        <ngx-emoj *ngIf="toggled"
                  (onemojipick)="handleEmoji($event)"
                  (onchardelete)="handleCharDelete($event)"
                  [theme]=" {
                  martShowHeader: true,
                  martShowFooter: true,
                  martHeaderPadding: {x: '0px', y: '0px'},
                  martFooterPadding: {x: '0px', y: '0px'},
                  martHeaderBG: '#e3e7e8',
                  martFooterBG: '#e3e7e8',
                  martBG: '#ebeff2',
                  martCategoryColor: '#94a0a6',
                  martCategoryColorActive:  '#455a64',
                  martActiveCategoryIndicatorColor: '#00897b',
                  martEmojiFontSize: '100%',
                  martCategoryFontSize: '13px',
                  martBorderRadius: '17px',
                  martActiveCategoryIndicatorHeight: '3px',
                  martEmojiPadding: {x: '37px', y: '40px'}
                  }">
        </ngx-emoj>
        </mat-card-content>
      </mat-card>
  </div>
  </ng-container>
</div>

<mat-list>
  <ng-container *ngFor="let element of post.comments; let i = index">

    <mat-card class="example-card" >
      <mat-card-header class="mat-card-header-comment">

        <div mat-card-avatar class="example-header-image" style="background-image: url({{element.author.avatar}})"></div>

        <a class="text-center" href="u/{{element.author.username}}">u/{{element.author.username}}</a>
        <div style="width: 80%"></div>
        <div *ngIf="element.author.username==user.username" style="display: flex;">

          <button mat-button (click)="openDialog(element)" style="padding: 0px; min-width: 40px">
            <mat-icon style="color: orangered;">delete</mat-icon>
          </button>
          <button mat-button (click)="editComment(element)" style="padding: 0px; min-width: 40px">
            <mat-icon>mode</mat-icon>
          </button>
        </div>

      </mat-card-header> <br><br>
      <mat-card-content [class.show]="true" class="container">
        <textarea *ngIf="element.isEdited" class="comment-textarea" [(ngModel)]="element.text">
        </textarea>

        <div style="display:flex;" class="centered" *ngIf="element.isEdited">
          <div mat-button mdbBtn class="emoji-div"
               (click)="element.isToggled = !element.isToggled">😄</div>
          <button mat-button mdbBtn type="button" style="margin-left: 60%" (click)="editCommentSave(element)"><mat-icon>save</mat-icon></button>
          </div>
        <ngx-emoj *ngIf="element.isToggled"
                  (onemojipick)="handleEmoji($event)"
                  (onchardelete)="handleCharDelete($event)"
                  [theme]=" {
                  martShowHeader: true,
                  martShowFooter: true,
                  martHeaderPadding: {x: '0px', y: '0px'},
                  martFooterPadding: {x: '0px', y: '0px'},
                  martHeaderBG: '#e3e7e8',
                  martFooterBG: '#e3e7e8',
                  martBG: '#ebeff2',
                  martCategoryColor: '#94a0a6',
                  martCategoryColorActive:  '#455a64',
                  martActiveCategoryIndicatorColor: '#00897b',
                  martEmojiFontSize: '100%',
                  martCategoryFontSize: '13px',
                  martBorderRadius: '17px',
                  martActiveCategoryIndicatorHeight: '3px',
                  martEmojiPadding: {x: '37px', y: '40px'}
                  }">
        </ngx-emoj>

        <p *ngIf="!element.isEdited">{{element.text}}</p>


      </mat-card-content>
      <mat-card-actions *ngIf="!element.isEdited" style="padding-left: 46px;">
        <mat-button-toggle (click)="likeBtnClick(element, i)" [checked]="element.upvoted">
          <mat-icon>thumb_up</mat-icon> Like({{element.votes}})
        </mat-button-toggle>
      </mat-card-actions>
    </mat-card>

  </ng-container>
</mat-list>

</body>
</html>
