
<head>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<mat-list>
  <ng-container *ngFor="let item of listItems" >

    <mat-card class="example-card">
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-header class="mat-card-header" style="">
        <div mat-card-avatar class="example-header-image"></div>
        <a href="subVykop/{{item.subVykop.id}}" class="text-center" style="margin-right: 10px">r/{{item.subVykop.name}}</a>
        <p class="text-center" style="margin-right: 10px">Posted by:</p>
        <a class="text-center" href="u/{{item.author.username}}">u/{{item.author.username}}</a>
      </mat-card-header> <br>

      <mat-card-content [class.show]="true" class="container">
        <img [src]="item.content.image" style="max-width: 100%; max-height: 100%; margin-right: auto; margin-left: auto; margin-top: 20px; display: flex">
        <p class="p">{{item.content.text}}</p>
      </mat-card-content>

      <mat-card-actions style="padding-left: 46px">
        <mat-button-toggle (click)="likeBtnClick(item)" mdbBtn type="button" color="primary" autocomplete="off" mdbCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0" mdbWavesEffect>
          <mat-icon>thumb_up</mat-icon> Like ({{item.votes}})
        </mat-button-toggle>
          <button mat-button style="padding: 7px" (click)="goToPost(item)"> <mat-icon> comment</mat-icon>Comments </button>

      </mat-card-actions>

    </mat-card>

  </ng-container>

  <div class="spinner-item">
    <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50" *ngIf="loading"></mat-progress-spinner>
  </div>

  <div class="spinner-item" *ngIf="!loading">
    There are no more posts to load.
  </div>
</mat-list>

<div
  infinite-scroll
  [infiniteScrollDistance]="7"
  [infiniteScrollThrottle]="150"
  (scrolled)="onScroll()"
>
</div>
