<html>
<head>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
<cdk-virtual-scroll-viewport itemSize="3" class="content" style="width: 100%">
  <mat-list>
    <ng-container *cdkVirtualFor="let item of listItems">
      <mat-card class="example-card" #theElementYouWantToCheck>
      <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-header class="mat-card-header" style="">
          <div mat-card-avatar class="example-header-image"></div>
          <a href="r/chujki" class="text-center" style="margin-right: 10px">r/chujki</a>
          <p class="text-center" style="margin-right: 10px">Posted by:</p>
          <a class="text-center" href="u/chujek">u/chujek</a>


        </mat-card-header> <br>


        <mat-card-content [class.show]="item.show" class="container">
          <img [src]="item.image" style="max-width: 100%; height: auto; margin-right: auto; margin-left: auto; margin-top: 20px; display: flex">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>

        </mat-card-content>

        <button mat-button (click)="item.show = !item.show">{{item.show ? 'Show less': 'Show more'}}</button>

        <mat-card-actions style="padding-left: 46px">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold" ><mat-icon>thumb_up</mat-icon></mat-button-toggle>
            <mat-button-toggle value="italic"><mat-icon>thumb_down</mat-icon></mat-button-toggle>
          </mat-button-toggle-group>

          <button mat-button> <mat-icon> comment</mat-icon>Comments </button>
        </mat-card-actions>

      </mat-card>



    </ng-container>
    <div class="spinner-item">
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
    </div>
  </mat-list>
</cdk-virtual-scroll-viewport>

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>



</body>
</html>
