<div class="background-div">
  <mat-card class="example-card" style="text-align: center;">
    <mat-card-header style="width: 80%; padding-top: 20px; padding-bottom: 20px; display: inherit">
<!--        <ngx-file-drop (onFileDrop)="dropped($event)" style="width: 300px; height: 300px; visibility: hidden" dropZoneClassName="drop-zone" >-->
<!--          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" style="width: 300px; height: 300px;">-->
<!--            <img src= "{{userDB.avatar}}"  style="width: 100%;  padding-top:180px; visibility: visible" alt="" (click)="openFileSelector()">-->
<!--          </ng-template>-->
<!--        </ngx-file-drop>-->

      <div style="position: relative; margin: auto; display: table">
        <div *ngIf="userDB.avatar != null     " style="display: inline-flex">
          <img [src]="userDB.avatar"  alt=""  class="img" style="width: 290px">
          <mat-icon (click)="userDB.avatar = null" style="cursor:pointer; color: gray">close</mat-icon>
        </div>
      </div>
      <ngx-file-drop accept=".png, .jpg" (onFileDrop)="dropped($event)" *ngIf="userDB.avatar == null">>
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <button mat-raised-button (click)="openFileSelector()" class="button-under">Select File</button>
        </ng-template>
      </ngx-file-drop>

    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <mat-form-field appearance="fill">
          <mat-label >Enter Username</mat-label>
          <input matInput placeholder="username" formControlName ="form_basic_username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label >Enter Email</mat-label>
          <input matInput placeholder="email@gmail.com" formControlName="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label >Enter Password</mat-label>
          <input matInput placeholder="password" formControlName ="form_basic_password" required [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div class="meter">
          <password-strength-meter [password]="this.registerForm.get('form_basic_password').value" enableFeedback="true" ></password-strength-meter>
        </div>
      </form>

      <div class="example-button-container">
        <div class="button-div-right">
          <button mat-fab color="#6EBFC2" aria-label="Register button" [disabled]="!registerForm.valid" (click)="onEdit()" *ngIf="data">
            <mat-icon>save</mat-icon>
          </button>
        </div>
        <div class="button-div-left">
          <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon" (click)="onBack()">
            <mat-icon>undo</mat-icon>
          </button>
        </div>
        <div class="progress-bar-div" *ngIf="isLoading==true"> <mat-progress-bar mode="indeterminate" > </mat-progress-bar> </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
