<div class="background-div">
  <mat-card class="example-card" style="text-align: center;">
    <mat-card-header>
        <img class="img-center" src="../../../assets/logo.png" alt="Photo of a Shiba Inu">
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <mat-label >Enter Username</mat-label>
          <input matInput placeholder="username" formControlName ="form_basic_username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label >Enter Password</mat-label>
          <input matInput placeholder="password" formControlName ="form_basic_password" required [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </form>
      <div class="register-div">
        <a class="register-text" (click)="toRegister()">Click here to register</a>
      </div>
      <div class="example-button-container">
        <div class="button-div-right">
          <button mat-fab color="#6EBFC2" aria-label="Login button" [disabled]="!loginForm.valid" (click)="onSave()">
            <mat-icon>forward</mat-icon>
          </button>
        </div>
        <div class="progress-bar-div" *ngIf="loading==true"> <mat-progress-bar mode="indeterminate" > </mat-progress-bar> </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
